<% if @buffets.empty? %>
  <p>Nenhum Buffet cadastrado</p>
<% end %>

<div>
  <ul>
    <% @buffets.each do |buffet| %>
      <li><%= link_to buffet.brand_name, buffet %> | <%= buffet.state_city %></li>      
    <% end %>
  </ul>
</div>
