<h1>Editar <%= @event_cost.description %></h1>

<div>
  <p><%= link_to 'Voltar para Evento', @event %></p>
</div>

<% if @event_cost_errors.present? %>
  <p>Atente-se aos erros abaixo:</p>

  <ul>
    
    <% @event_cost_errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    
  </ul>

<% end %>

<%= render partial: 'form' %>
